



<div>
<form asp-controller="Account" asp-action="Register">
    <input type="text" name="username" placeholder="Usuario">
    <input type="password" name="password" placeholder="Senha">
    <button type="submit">Registrar</button>
</form>
</div>